<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aerospace Jam{% endblock %}</title>
    <meta name="title" content="Aerospace Jam | Official Website" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}
    <header>
        <h1>Aerospace Jam</h1> <!-- TODO logo -->
    </header>
    {% endblock %}
    {% block nav %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    {% endblock %}
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {{ year }} (<code>{{ commit }}</code>) Aerospace Jam and Henry Martin. Licensed under the <a href="https://opensource.org/licenses/MIT">MIT license</a>. <a href="https://github.com/AerospaceJam/website">Get the source</a></p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>