<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aerospace Jam{% endblock %}</title>
    <meta name="title" content="Aerospace Jam | Official Website" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/png">

    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}
    <header>
        <img src="/static/img/logo.png" alt="Aerospace Jam Logo">
    </header>
    {% endblock %}
    {% block nav %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    {% endblock %}
    <main>
        {% block main %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>